body {

    background-color: #ffbccb;
    padding: 30px;
}

.container-for-box-1 {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.box {

width: 33%;
background-color: red;
height: 230px;
justify-content: center;

}

.container-for-box-2 {
    display: flex;
    gap: 20px;
    
}

.box-b {

    width: 50%;
    background-color: red;
    height: 360px;
    
    }