body {

    background-color: #ffbccb;
    padding: 30px;
}

.container-for-box-1 {
    display: flex;
    gap: 40px;
    padding-bottom: 30px;
}

.box {

display: flex;    
width: 33%;
background-color: red;
height: 230px;
justify-content: center;
align-items: center;
font-size: 70px;
font-weight: bold;

}

.container-for-box-2 {
    display: flex;
    gap: 40px;
    
}

.box-b {
    display: flex;
    width: 50%;
    background-color: blue;
    height: 360px;  
    justify-content: center;
    align-items: center; 
    font-size: 70px;
    font-weight: bold;
    }